/* homepage background image */
window.shows-home .image {
  background-image: url('window-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
/* add room around the image */
window.shows-home .image {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* bigger text on the homepage */
window.shows-home grid>label {
  font-size: 150%;
}

window.shows-home grid>label:first-child {
  margin-bottom: 1em;
  margin-top: calc(1em - 12px);
}
window.shows-home grid>label:nth-child(even) {
  margin-right: calc(0.5em - 6px);
}

/* title text */
label.title {
  font-size: 150%;
  font-weight: bold;
}

/* make stackswitcher a little more prominent */
stackswitcher label {
  font-size: 120%;
}
/* make scale marks a little less prominent */
marks mark label {
  font-size: 80%;
}

/* add some margins between groups */
frame:not(:last-child) {
  margin-bottom: 1em;
}
frame:last-child {
  padding-bottom: 0.5em;
}
